<div class="page_header">
  <%= image_tag(@user.avatar.url(:medium), class: 'avatar') %>
  <h1><%= @user.name %></h1>
</div>

<% if @links %>
  <% @links.each do |link| %>
  <div class="well">
    <%= link.title %>
  <hr />
  <%= link_to time_ago_in_words(link.created_at) + ' ago', link_path(link) %> 
  </div>
  <% end %>
<% end %>
